/* ===========================
         GLOBAL
=========================== */
body {
    font-family: 'Poppins', sans-serif;
    background: #5b5c69;
    color: #f0f0f0;
}

h1, h2, h3, h5 {
    font-weight: 700;
}

/* ===========================
         NAVBAR
=========================== */
.custom-nav {
    background: #2b2e36;
    padding: 3rem 0;
    width: auto;
    height: auto;
}

.logo-text {
    color: #fff !important;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;

}
.nav-link {
    color: #ddd !important;
    font-weight: 900;
    transition: 0.4s;
    font-size: 1.6rem;
    gap: 2rem;
   
}

.nav-link:hover {
    color: #323975 !important;
}
.nav-link a{
    text-decoration: none;
  color: white;
  font-weight: 500;
  gap: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    gap: 200px;;
}

    nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  
}
nav a {
  text-decoration: none;
  color: white;
}





/* ===========================
      SMALL ANIMATIONS
=========================== */
.card, .btn {
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
  
}
