body {
    font-family: Arial, sans-serif;
    background-color: #000000bb;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    background: rgb(233, 0, 0);
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

ul {
    font-size: 20px;
}

textarea {
    width: 95%;
    height: 80px;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000000;
    resize: none;
}

a {
    color: #9d9fa0ab;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.link-mascotas {
    margin-top: 25px;
    display: inline-block;
    font-weight: bold;
}

