/* ===========================
         GLOBAL
=========================== */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    color: #ffffff;
}

h1, h2, h3, h5 {
    font-weight: 700;
}

/*  NAVBAR */
.custom-nav {
    background: #ffffff;
    padding: 1rem 0;
}

.logo-text {
    color: #00ca33 !important;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo-text a{
    color: #01c261 !important;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link {
    color: #bae4c1 !important;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #000000 !important;
}

.btn-login {
    border: none;
    color: #bae4c1;
    transition: 0.3s;
    text-decoration: none;
}
.btn-login:hover {
    background: #27af33;
    color: #fff;
}

.btn-signup {
    background: #00ad34;
    border: none;
    transition: 0.3s;
}
.btn-signup:hover {
    background: #00ad34;
}

/*
        HERO SECTION
 */
.hero-section img    {
    margin-right: 12px;
    margin-left: 12px;
}
/* COLLABS */



/* CATEGORY CARDS */
.category-card {
    border: none;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.category-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 26px rgba(0,0,0,0.12);
}



/* 
        FOOTER
 */
.custom-footer {
    background: #111;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    
}

.footer h5 {
    font-weight: 700;
    margin-bottom: 15px;
}

.footer a {
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover {
    color: #fff !important;
}

         /* Oculta lo que sobresalga */


.half-height img {
    width: 100%;              
    height: 100%;             
    object-fit: cover;       
}
@media (min-width: 768px) {
    .half-height { height: 50%; }
}